.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preloader {
    position: absolute;
    z-index: 1000;
    font-size: 3em;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ececec;
}
.preloader-content {
    margin: 200px auto;
    line-height: 50px;
}

.layer-switcher {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    margin: 10px;
    border: 1px solid black;
    padding: 3px;
}
.layer-switcher .layer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.layer-switcher .layer-list li {
    display: inline-block;
    margin: 0 5px;
    padding: 4px;
    background: #dddddd;
    border: 1px solid #888;
    cursor: pointer;
}
.layer-switcher .layer-list li.active {
    background: #69d2e7;
}
.geoloc-btn {
    margin: 0 5px;
    padding: 4px;
    background: #dddddd;
    border: 1px solid #888;
    cursor: pointer;

}

.geoloc-form {
    display: inline-block;
}

.step-list-panel {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    margin: 10px;
    border: 1px solid black;
    padding: 3px;
    width: 250px;
    overflow-y: auto;
    bottom: 330px;

}

.saved-list-panel {
    position: absolute;
    top: 0;
    left: 40px;
    background: white;
    margin: 10px;
    border: 1px solid black;
    padding: 3px;
    width: 250px;
    overflow-y: auto;

}
.saved-list-panel table {
    width: 100%;
}

.step-list thead.total {
    font-weight: bold;
    background-color: #eee;

}
.step-list {
    border-spacing: 0;
}
.step-list .vertical-diff-detail {
    font-size: 9px;
}
.gradient-none {
    color: #43ae27;
}
.gradient-small {
    color: #e7e308;
}
.gradient-medium {
    color: #ffb00f;
}
.gradient-hard {
    color: #ff0800;
}

.path-step-icon {
    width: 6px;
    height: 6px;
    background: white;
    border: 1px solid black;
}
.mouse-marker-icon {
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid black;
}

.distance-indicator-popup .leaflet-popup-tip-container {
    display: none;
}
.distance-indicator-popup .leaflet-popup-content {
    margin: 2px;
}
.distance-indicator-popup .leaflet-popup-content-wrapper {
    border-radius: 0;
    background: #eee;

}.distance-indicator-popup  {
    opacity: 0.7;

}

.alt-profil-panel {
    position: absolute;
    bottom: 10px;
    right: 0;
    background: white;
    margin: 10px;
    border: 1px solid black;
    padding: 3px;
    font: 8px sans-serif;

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: steelblue;
}
.clickable {
    cursor: pointer;
}